{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-12 dashboard_col">
            <div class="card dashboard_body">
              <div class="card-header ">
              </div>
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-11">
                    <div class="user_sent_request">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th class="text-left">#</th>
                                  <th class="text-left">Item Description</th>
                                  <th class="text-left">Part Number / Serial Number</th>
                                  <th class="text-left">Quantity</th>
                                  <th class="text-left">Date Requested</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for shipping in shippings%}
                                <tr>
                                    <td class="text-left">{{shipping.id}}.</td>
                                    <td class="text-left" style="white-space: pre-wrap !important;">{{shipping.item_description}}</td>
                                    <td class="text-left">{{shipping.id}}</td>
                                    <td class="text-left">{{shipping.quantity}}</td>
                                    <td class="text-left">{{shipping.date_requested.strftime('%m/%d/%y, %H:%M')}}</td>
                                </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}