
<script>

     $(".row_2").hide();
     $(".row_3").hide();

	$("#next_btn1").on("click", function(){
		$(".row_1").hide(0, function(){
			$(".row_2").show(0, function(){
				$(".steps_icon").attr("src", "/static/assets/img/step2.svg");
			});
		});
	});

	$("#prev_btn1").on("click", function(){
		$(".row_2").hide(0, function(){
			$(".row_1").show(0, function(){
				$(".steps_icon").attr("src", "/static/assets/img/step1.svg");
			});
		});
	});

	$("#prev_btn2").on("click", function(){
		$(".row_3").hide(0, function(){
			$(".row_2").show(0, function(){
				$(".steps_icon").attr("src", "/static/assets/img/step2.svg");
			});
		});
	});

	// Submitting The Shipping Form

	$("#shipping_form").on("submit", function(e){
		e.preventDefault();

		$(".row_2").hide(0, function(){
			$(".row_3").show(0, function(){
				$(".steps_icon").attr("src", "/static/assets/img/step3.svg");

				var attention = $("#attention").val();
				var company = $("#company").val();
				var address1 = $("#address1").val();
				var address2 = $("#address2").val();
				var city = $("#city").val();
				var state_province = $("#state_province").val();
				var postal_code = $("#postal_code").val();
				var country = $("#country").val();
				var template_name = $("#template_name").val();


				var type = $("#type").val();
				var length = $("#length").val();
				var width = $("#width").val();
				var height = $("#height").val();
				var weight = $("#weight").val();
				var tracking_number = $("#tracking_number").val();
				var carrier = $("#carrier").val();

				req = $.ajax({
					url: '/request_shipping',
					type: 'POST',
					data: { attention, company, address1, address2, city, state_province, postal_code, country, template_name, type, length, width, height, weight, tracking_number, carrier },
					success: function(){
						window.location.replace("/dashboard").delay(10000);
					},
					error: function(){
						$(".info_text").text("Error... Please be sure that you filled all neccessary input fields");
					}
				});
			});
		});

	});

	// Validating and Submitting the Register Form
	
	$("#register_form").on("submit", function(e){

		// Preventing the form from automatically submitting
		e.preventDefault();

		// Getting the name, email, password and re_password value using thier ID
		const first_name = $("#first_name").val();
		const last_name = $("#last_name").val();
		const email = $("#email").val();
		const username = $("#username").val();
		const slack_handle = $("#slack_handle").val();
		const password = $("#password").val();
		const re_password = $("#re_password").val();

		// Comparing the password and re_password to see if they match
		// If they don't we throw an error error, else we submit the form
		// using JQuery Ajax

		if (password !== re_password){
			// If passwords do not match, we change the text of an empty <span> to
			// to say "Passwords do not match".
			$(".error4").text("Passwords do not match");
		}else{
			// Submitting the form

			req = $.ajax({
				url: '/register',
				type: 'POST',
				data: {first_name, last_name, email, username, slack_handle, password},

				// On success function, we get the data returned and
				// check its value to decide what message we send
				success: function(data){
					// If message is success we redirect the user to the login page

					if (data.data == "success"){
						window.location.replace("/login")
					}
					// If message is exist we alert user already exists

					if (data.data == "exist"){
						$(".error_div").empty();
						$(".error_div").append('<div class="alert danger_error" role="alert">User already exist</div>');
					}
				}
			})

		}

	});


	//Validating and Submitting the Login Form
	
	$("#login_form").on("submit", function(e){

		// Preventing the form from automatically submitting
		e.preventDefault();

		// Getting the email and password value using thier ID
		const email = $("#email").val();
		const password = $("#password").val();

		req = $.ajax({
			url: '/login',
			type: 'POST',
			data: {email:email, password:password},

			// On success function, we get the data returned and
			// check its value to decide what message we send
			success: function(data){
				// If message is success we redirect the user to the dashboard page

				if (data.data == "success"){
					window.location.replace('/dashboard');
				}
				// If message is error we send a different message

				if (data.data == "error"){
					$(".error_div").empty();
					$(".error_div").append('<div class="alert danger_error" role="alert">Invalid email or password</div>');
				}
			}
		});

	});

</script>