
<script>

     $(".row_2").hide();
     $(".row_3").hide();

	$("#next_btn1").on("click", function(){
		$(".row_1").hide(1000, function(){
			$(".row_2").show(1000, function(){
				$(".steps_icon").attr("src", "/static/assets/img/step2.svg");
			});
		});
	});

	$("#prev_btn1").on("click", function(){
		$(".row_2").hide(1000, function(){
			$(".row_1").show(1000, function(){
				$(".steps_icon").attr("src", "/static/assets/img/step1.svg");
			});
		});
	});

	$("#prev_btn2").on("click", function(){
		$(".row_3").hide(1000, function(){
			$(".row_2").show(1000, function(){
				$(".steps_icon").attr("src", "/static/assets/img/step2.svg");
			});
		});
	});

	// Submitting The Shipping Form

	$("#shipping_form").on("submit", function(e){
		e.preventDefault();

		$(".row_2").hide(1000, function(){
			$(".row_3").show(1000, function(){
				$(".steps_icon").attr("src", "/static/assets/img/step3.svg");

				var ship_to_company = $("#ship_to_company").val();
				var ship_to_address = $("#ship_to_address").val();
				var ship_to_city = $("#ship_to_city").val();
				var ship_to_state = $("#ship_to_state").val();
				var ship_to_zip = $("#ship_to_zip").val();
				var special_instructions = $("#special_instructions").val();
				var ship_to_phone_number = $("#ship_to_phone_number").val();

				var ship_from_company = $("#ship_from_company").val();
				var senders_name = $("#senders_name").val();
				var ship_from_address = $("#ship_from_address").val();
				var ship_from_city = $("#ship_from_city").val();
				var ship_from_state = $("#ship_from_state").val();
				var ship_from_zip = $("#ship_from_zip").val();
				var external_phone_number = $("#external_phone_number").val();
				var department = $("#department").val();

				var item_description = $("#item_description").val();
				var quantity = $("#quantity").val();

				req = $.ajax({
					url: '/request_shipping',
					type: 'POST',
					data: { ship_to_company, ship_to_address, ship_to_city, ship_to_state, ship_to_zip, special_instructions, ship_to_phone_number, ship_from_company, senders_name, ship_from_address, ship_from_city, ship_from_state, ship_from_zip, external_phone_number, department, item_description, quantity },
					success: function(){
						window.location.replace("/dashboard").delay(10000);
					},
					error: function(){
						$(".info_text").text("Error... Please be sure that you filled all neccessary input fields");
					}
				});
			});
		});

	});

	// Validating and Submitting the Register Form
	
	$("#register_form").on("submit", function(e){

		// Preventing the form from automatically submitting
		e.preventDefault();

		// Getting the name, email, password and re_password value using thier ID
		const name = $("#name").val();
		const email = $("#email").val();
		const password = $("#password").val();
		const re_password = $("#re_password").val();

		// Comparing the password and re_password to see if they match
		// If they don't we throw an error error, else we submit the form
		// using JQuery Ajax

		if (password !== re_password){
			// If passwords do not match, we change the text of an empty <span> to
			// to say "Passwords do not match".
			$(".error4").text("Passwords do not match");
		}else{
			// Submitting the form

			req = $.ajax({
				url: '/register',
				type: 'POST',
				data: {name:name, email:email, password:password},

				// On success function, we get the data returned and
				// check its value to decide what message we send
				success: function(data){
					// If message is success we redirect the user to the login page

					if (data.data == "success"){
						window.location.replace("/login")
					}
					// If message is exist we alert user already exists

					if (data.data == "exist"){
						$(".error_div").empty();
						$(".error_div").append('<div class="alert danger_error" role="alert">User already exist</div>');
					}
				}
			})

		}

	});


	//Validating and Submitting the Login Form
	
	$("#login_form").on("submit", function(e){

		// Preventing the form from automatically submitting
		e.preventDefault();

		// Getting the email and password value using thier ID
		const email = $("#email").val();
		const password = $("#password").val();

		req = $.ajax({
			url: '/login',
			type: 'POST',
			data: {email:email, password:password},

			// On success function, we get the data returned and
			// check its value to decide what message we send
			success: function(data){
				// If message is success we redirect the user to the dashboard page

				if (data.data == "success"){
					window.location.replace('/dashboard');
				}
				// If message is error we send a different message

				if (data.data == "error"){
					$(".error_div").empty();
					$(".error_div").append('<div class="alert danger_error" role="alert">Invalid email or password</div>');
				}
			}
		});

	});

</script>