{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-md-9 shipping_col">
            <p class="login_legend">Request To Ship A Package</p>
            <div class="card shipping_card">
              <div class="card-header ">
                <div class="steps_div d-flex justify-content-lg-center">
                  <img src="/static/assets/img/step1.svg" class="img-fluid steps_icon" defer>
                </div>
              </div>
              <div class="card-body">
                <form method="POST" id="shipping_form">

                  <div class="row_1">

                    <div class="row">
                      <div class="col-md-6">
                        <textarea required rows="1" class="shipping_area shipping_input" placeholder="Attention" id="attention"></textarea>
                      </div>

                      <div class="col-md-6">
                        <input required type="" name="" class="form-control shipping_input" placeholder="Company" id="company">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input required type="" name="" class="form-control shipping_input" placeholder="Address (1)" id="address1">
                      </div>

                      <div class="col-md-6">
                        <input required type="" name="" class="form-control shipping_input" placeholder="Address (2)" id="address2">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input required type="" name="" class="form-control shipping_input" placeholder="City" id="city">
                      </div>

                      <div class="col-md-6">
                        <input required rows="1" class="shipping_area shipping_input" placeholder="State Province" id="state_province" />
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input required type="" name="" class="form-control shipping_input" placeholder="Postal Code" id="postal_code">
                      </div>

                      <div class="col-md-6">
                        <textarea required rows="1" class="shipping_area shipping_input" placeholder="Country" id="country"></textarea>
                      </div>

                      <hr style="margin-bottom: 40px !important;">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-6">
                        <button type="button" class="btn-block next_btn" id="next_btn1" >Next</button>
                      </div>
                    </div>

                  </div>

                  <div class="row_2">

                    <div class="row">

                      <div class="col-md-6">
                        <input required type="" name="" class="form-control shipping_input" placeholder="Template Name" id="template_name">
                      </div>

                      <div class="col-md-6">
                        <input required type="" name="" class="form-control shipping_input" placeholder="Type" id="type">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input required type="number" name="" class="form-control shipping_input" placeholder="Length" id="length">
                      </div>

                      <div class="col-md-6">
                        <input required type="number" name="" class="form-control shipping_input" placeholder="Width" id="width">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input required type="number" name="" class="form-control shipping_input" placeholder="Height" id="height">
                      </div>

                      <div class="col-md-6">
                        <input required type="number" name="" class="form-control shipping_input" placeholder="Weight" id="weight">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input required type="" name="" class="form-control shipping_input" placeholder="Tracking Number" id="tracking_number">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input required type="" name="" class="form-control shipping_input" placeholder="Carrier" id="carrier">
                      </div>

                      <div class="col-md-6">
                        <button type="button" class="float-left prev_btn" id="prev_btn1">Prev</button>
                      </div>

                      <div class="col-md-6">
                        <button type="submit" class="float-right next_btn">Finish</button>
                      </div>



                    </div>

                  </div>

                  <div class="row_3">
                    <br>
                    <div class="row d-flex justify-content-center">
                      <div class="col-md-8">
                        <div class="float-left spin" style="margin-left: -130px !important;"></div>
                        <p class="text-center info_text">Please stay with us while we process your form</p>
                      </div>
                    </div>
                    <br>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}