{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-md-9 shipping_col">
            <p class="login_legend">Request To Ship A Package</p>
            <div class="card shipping_card">
              <div class="card-header ">
                <div class="steps_div d-flex justify-content-lg-center">
                  <img src="/static/assets/img/step1.svg" class="img-fluid steps_icon" defer>
                </div>
              </div>
              <div class="card-body">
                <form method="POST" id="shipping_form">

                  <div class="row_1">

                    <h3>Ship To</h3>

                    <div class="row">
                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Company" id="ship_to_company">
                      </div>

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Address" id="ship_to_address">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="City" id="ship_to_city">
                      </div>

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="State" id="ship_to_state">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Zip" id="ship_to_zip">
                      </div>

                      <div class="col-md-6">
                        <textarea rows="1" class="shipping_area shipping_input" placeholder="Special Instructions" id="special_instructions"></textarea>
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Phone Number" id="ship_to_phone_number">
                      </div>

                      <div class="col-md-6">
                        <button type="button" class="btn-block next_btn" id="next_btn1" >Next</button>
                      </div>
                    </div>

                  </div>

                  <div class="row_2">

                    <h3>Ship From</h3>

                    <div class="row">

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Company Name" id="ship_from_company">
                      </div>

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Sender's Name" id="senders_name">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Address" id="ship_from_address">
                      </div>

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="City" id="ship_from_city">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="State" id="ship_from_state">
                      </div>

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Zip" id="ship_from_zip">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Internal Address" id="internal_address">
                      </div>

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Tie Line / External Phone" id="external_phone_number">
                      </div>

                      <hr style="margin-bottom: 40px !important;">

                      <div class="col-md-6">
                        <input type="" name="" class="form-control shipping_input" placeholder="Division /  Dep." id="department">
                      </div>

                      <div class="col-md-6">
                        <button type="button" class="float-left prev_btn" id="prev_btn1">Prev</button>
                        <button type="submit" class="float-right next_btn">Next</button>
                      </div>



                    </div>

                  </div>

                  <div class="row_3">

                    <div class="row d-flex justify-content-center">
                      <hr style="margin-bottom: 40px !important;">
                      <hr style="margin-bottom: 40px !important;">
                      <div class="col-md-6 float-left">
                        <div class="float-right spin"></div>
                      </div>
                      <div class="col-md-6 float-left">
                        <div class="float-left spin"></div>
                      </div>
                      <hr style="margin-bottom: 40px !important;">
                      <hr style="margin-bottom: 40px !important;">
                    </div>

                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}